.signUpForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    border: 2px solid rgb(208, 203, 203) !important;
    border-radius: 1.25rem !important;
    width: 25rem !important;
    height: 18.2rem !important;
    padding: 1.3rem;
}

.ifNew {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
}

